a {
    text-decoration: none!important;
}

.logotype {
    width: 100%;
    max-width: 75px;
    height: auto;
}

.panel-heading > h5 {
    color: white!important;
}

.btn:hover {
    border-bottom-width: 0;
}

.select2-search__field:focus {
    border: none!important;
}

textarea {
    resize: none;
}

.modal-content {
    max-width: 900px;
}

.img-block-modal > video {
    max-width: 100%;
}

.info-block {
    float: left;
}

.img-block-modal {
    text-align: center;
}

.info-block > ul li {
    text-align: left;
}

.ui-tooltip.ui-corner-all.ui-widget-shadow.ui-widget.ui-widget-content {
    display: none!important;
}

.align-right {
    text-align: right;
}

.navbar {
    padding: 0!important;
}

.sidebar-menu .treeview-menu {
    padding-left: 0!important;
}

.content-wrapper {
    margin-top: 15px;
}